<footer class="footer">
  <div class="container footer-grid">
    <div>
      <h3>IToT Lucknow</h3>
      <p>Building competent trainers for a stronger, skilled, and self-reliant India.</p>
    </div>
    <div>
      <h4>Quick Links</h4>
      <ul>
        <li><a href="../about/index.html">About</a></li>
        <li><a href="../notes/index.html">Notes</a></li>
        <li><a href="../assignment/index.html">Assignment</a></li>
        <li><a href="../contact/index.html">Contact</a></li>
      </ul>
    </div>
    <div>
      <h4>Tests</h4>
      <ul>
        <li>CSA</li>
        <li>CHNM</li>
        <li>Electrician</li>
        <li>MRAC</li>
      </ul>
    </div>
    <div>
      <h4>Address</h4>
      <p>IToT Campus, Lucknow, Uttar Pradesh</p>
      <p>Email: info@itotlucknow.edu.in</p>
    </div>
  </div>
  <div class="copyright">
    <p>&copy; 2026 The Institute of Training of Trainers, Lucknow. All rights reserved.</p>
  </div>
</footer>
